* {
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-y: visible;
  margin: 0;
}
.section1 {
  width: 100%;
  height: 900px;
  display: flex;
  position: relative;
  background-size: cover;
  border-bottom-right-radius: 200px;
  background-repeat: no-repeat;
  background: url(/images/banner-bg.jpg);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  color: white;
  padding: 10px;
  margin-top: -5px;
  margin-left: 20px;
  font-size: 35px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-right: 1px solid rgba(221, 213, 213, 0.325);
}
form {
  margin: 20px;
  margin-left: 50px;
  padding: 20px;
  display: flex;
  gap: 20px;
}
input[type="text"] {
  background-color: transparent;
  border: none;
  padding: 30px;
  outline: none;
  width: 100%;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.781);
}
.main-nav {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-nav ul {
  display: flex;
  padding: 40px;
  font-family: sans-serif;
  gap: 40px;
}
.main-nav li {
  list-style-type: none;
}
.main-nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
  border-radius: 30px;
}
.main-nav a .active {
  background-color: rgba(245, 222, 179, 0.129);
}
.main-nav a:hover {
  opacity: 0.7;
  background-color: rgba(245, 222, 179, 0.129);
}
@media screen and (min-width: 365px) and (max-width: 785px) {
  h1 {
    font-family: sans-serif;
    color: white;
  }
}
input[type="text"] {
  width: 250px;
  height: 45px;
  border-radius: 50px;
  padding: 10px 20px;
}
.search {
  display: flex;
  align-items: center;
  width: 250px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 50px;
  padding: 10px 20px;
}
input[type="text"]:focus {
  border: 1px solid black;
}
.search i {
  color: white;
}
.bg {
  width: 80vw;
  height: 80vh;
  display: flex;
  background-position: center;
  margin: 160px;
  border-radius: 20px;
  background-image: url(/images/banner-item-01.jpg);
  background-size: cover;
}

.courses {
  position: relative;
  width: 800px;
  padding: 20px;
}
.courses span {
  background-color: rgb(123, 106, 218);
  padding: 10px;
  color: white;
  border-radius: 40px;
  margin: 30px;
}
.courses h1 {
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 50px;
}
.courses p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 23px;
  margin: 50px;
}
.fa-play {
  padding: 18px;
  margin-right: 15px;
  border-radius: 50%;
}
.bg {
  padding: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.demo {
  width: 120px;
  height: 45px;
  top: 90%;
  text-decoration: none;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 25px;
  color: rgb(123, 106, 218);
  background-color: white;
}
.play {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  position: absolute;
  left: 20%;
  top: 85%;
}
.play a {
  text-decoration: none;
  color: white;
}
.section2 {
  width: 100%;
  height: 90%;
  display: flex;
  margin-right: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  padding: 20px;
  background-color: rgb(123, 106, 218);
  top: -100px;
  right: -60px;
}
.pic img {
  width: 100px;
  height: 100px;
}
.pic img:hover {
  transform: translatey(-10px);
  transition: 0.4s ease;
}
.service {
  position: relative;
  padding: 45px;
  width: 340px;
  height: 350px;
  border-radius: 20px;
  background-color: rgb(241, 240, 254);
}
.service h1 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.service p {
  padding: 20px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 30px;
}
.service a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 20px;
  background-color: white;
  color: rgb(123, 106, 218);
  border-radius: 40px;
}
.service a:hover {
  color: white;
  transition: 0.4s ease;
  background-color: rgb(123, 106, 218);
}
.section3 {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 80%;
  padding: 40px;
  background-color: rgb(122, 106, 216);
  border-radius: 30px;
}
.item {
  width: 90%;
  border-radius: 40px;
  padding: 10px;
  margin: 20px;
  height: 60px;
  position: relative;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
.fa-plus {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  padding: 15px;
  background-color: rgb(123, 106, 218);
  top: 10%;
  left: 85%;
  right: 90%;
  font-size: 20px;
  color: rgb(122, 106, 216);
}
.aside {
  width: 40%;
  height: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(241, 240, 254);
}
.contain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 450px;
  height: 250px;
  /* padding: 10px; */
  margin-left: 70px;
}
.contain span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: rgb(123, 106, 218);
}
.contain h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.contain p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  line-height: 30px;
  padding-bottom: 40px;
}
.contain a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 150px;
  height: 150px;
  padding: 18px;
  color: rgb(122, 106, 216);
  background-color: white;
  border-radius: 50px;
}
.contain a:hover {
  color: white;
  background-color: rgb(123, 106, 218);
  transition: 0.4s ease;
}
.section4 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.latest p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(123, 106, 218);
  margin-left: 35%;
  font-size: 15px;
}
.latest h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 35px;
  margin-left: 25%;
  padding-bottom: 30px;
}
.sub-nav ul {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 550px;
  height: 60px;
  border-radius: 40px;
  background-color: rgb(241, 240, 254);
}
.sub-nav li {
  list-style-type: none;
}
.sub-nav a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.sub-nav a:hover {
  color: rgb(123, 106, 218);
  transition: 0.4s ease;
}
.price {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  height: 500px;
  margin-top: 50px;
}
.dollor {
  width: 410px;
  height: 400px;
  border-radius: 30px;
  background-color: rgb(241, 240, 254);
}
.img {
  position: relative;
}
.img img {
  border-radius: 30px;
}
.img h3 {
  top: 10px;
  left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: rgb(125, 111, 215);
  position: absolute;
  width: 130px;
  height: 40px;
  border-radius: 20px;
  padding: 13px;
  background-color: rgba(255, 255, 255, 0.922);
}
.offer {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  background: #7e61ffe7;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 20px;
}
.offer:hover {
  width: 120px;
  height: 120px;
  transition: 0.4s ease;
}
.offer span {
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 30px;
}
.offer h1 {
  position: absolute;
  top: 5px;
  left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.content {
  padding-left: 30px;
  line-height: 15px;
}
.content p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: rgb(123, 106, 218);
}
.content h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.content h1:hover {
  color: rgb(123, 106, 218);
  transition: 0.4s ease;
}
.section5 {
  width: 100%;
  height: 320px;
  margin-top: 30%;
}
 .section5 .img img{
  width: 90%;
  height: 300px;
  border-top-right-radius:200px ;
  position: relative;
  border-bottom-right-radius:200px;
}
.number{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  padding-left :15%;
}
.slide{
  height: 300px;
  display: flex;
  align-items: center;
  width: 90%;
  background-image: url(/images/banner-bg.jpg);
   border-top-right-radius:200px ;
   border-bottom-right-radius:200px;
}
.number h1{
  font-size: 50px;
  line-height:25px;
}
.section6{
  width:100%;
  height:600px;
  display: flex;
}